# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
# We need .xml for poms
# *.xml 
*.csv

# Large files
*.mp4
docs\oem\85V Maintenance Schedule.pdf
docs/oem/85V Maintenance Schedule.pdf

# Zephyr
firmware\interface-board-zephyr\.venv
firmware\interface-board-zephyr\.west
firmware\interface-board-zephyr\bootloader
firmware\interface-board-zephyr\modules
firmware\interface-board-zephyr\tools
firmware\interface-board-zephyr\zephyr

# Microsoft Word Documents
~$*